@charset "utf-8";
/* CSS Document */
html,body{
margin:0px;
padding: 0;
height:100%;
font-family: 'montserrat',Arial, sans-serif;
text-align:justify;
color:#6C6C6C;
font-weight: normal;
font-size:14px
}

a {text-decoration: none;}
h1,h2,h3 {font-family: 'montserrat',Arial, sans-serif;}
h1 {font-size: 18px; color: black; margin-bottom: 0; font-weight: bold;}
h2 {
	font-size: 50px; 
	color: #363436; 
	height: 30px;
	line-height: .5;
	margin: 0;
	background-color: #f1a042;
}
h3 {font-size: 18px; color: black;} 
h4 {font-size: 50px;}
.w3-button:hover{background-color:#E9953F!important; color:#fff!important; }
.w3-button{transition-duration:0.5s}
.aviso{ font-weight:bold; text-align:center; margin:auto}
table{border-spacing: 0;}
th, td {
    padding: 0px; border-collapse: collapse;
}

hr{ border:#333 solid 1px;}

ul {padding-inline-start:15px}

.cuerpo{ margin:auto; min-height:300px;}
.contenido{
	max-width:1200px;
	margin:10px auto; 
	padding:0 10px
}

.contenido-small {
	max-width: 950px;
	margin: auto;
}


.fgris {background-color: #363436}
.famarillo {background-color:#f1a042}
.txtblanco {color: white;}
.txtamarillo {color: #f1a042}
.txtgris {color: #363436}
.icon-fixed {position: fixed; z-index: 99}
.wa-icon {bottom: 20px; right: 50px;}
.icon-fixed img {width: 50px;}


.flotante {
	position: absolute;
	margin: 0
}


header .contenido {
	margin: 0 auto;
}

header nav {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0;
}

header .w3-bar-item {
	padding: 0 10px!important;
}

header .w3-bar-item:first-of-type {
	padding-left: 0!important;
}


header .contactos .contenido {
	display: flex;
	gap: 0 30px;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 14px 10px
}

#valores .w3-row img {
	width: 170px; 
}

#servicios {
	background-color: #f8f4f4;
}

#servicios img {
	margin-bottom: 15px;
	width: 100%;
}

#lo-que-hacemos {
	background-color: #363436;
}

#contacto form {max-width: 800px; margin:auto}
#contacto input, #contacto label {display: block;}
#contacto label {margin-bottom: 3px; padding-left: 7px;}
#contacto input {height: 33px;}
#contacto input, #contacto textarea{
	background-color: #f8f4f4;
	border: none;
	border-radius: 5px;
	margin-bottom: 7px;
	padding: 0 7px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#contacto textarea {padding: 7px;}


#collapsing-menu a {
	margin-bottom: 10px;
}
#collapsing-menu a:last-child {
	margin-bottom: 20px;
}

footer {
	font-size: 18px;
	padding: 40px 0
}

footer .w3-row {align-items: center;}

footer ul {
	color: black;
	font-weight: bold;
	list-style-type: none;
	line-height: 1.2;
	margin: 0;
}

footer img {
	width: 120px;
}

footer .contacto {text-align: right; font-weight: bold;}
  
.swiper {width: 100%; height: 650px}
.swiper-slide {background-position: center; background-size: cover}
.swiper-pagination {position: relative; margin-top: -35px; bottom: unset!important;}
.swiper-pagination-bullet{ background: #fff; border:solid thin #fff; opacity: 1; width:14px; height:14px; border-radius:0 ;
-webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; }
.swiper-pagination-bullet-active{background: rgb(180, 180, 180, 0.7); border:thin} 
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px 
}



.banner-principal {
	background-image: url("assets/inicio.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 670px
}




@media only screen and (min-width:601px){
	.cflex{display: -webkit-flex; /* Safari */
		display: flex;}
}
.mitadder{
	padding-left:10px;
}
.mitadizq{
	padding-right:10px;
}
.mitadcentro{
	padding:0 5px
}
.mitad{width:50%; float:left}
@media only screen and (max-width:600px){
	.cuerpo{
		margin:0 10px
	}
	.contenido{
		margin:10px 10px
	}
	.mitadder{
		margin-top:1.5em; padding-left:0
	}
	.mitadizq{
		padding-right:0
	}
	.mitadcentro{
		margin-top:1.5em; padding-right:0; padding-left:0}
	.centrar-small{ text-align:center!important}
	h1{ font-size:30px}
	h2{ font-size:25px}
	h3{ font-size:20px}
	
	footer {
		font-size: 16px;
	}
	footer .contacto {text-align: center}
	
}
.imgmax{
	max-width:100%; margin:auto
}
.margensupinf{margin:56px auto}
.margensup{margin-top:56px}

.icored{
	vertical-align:bottom; width:21px; margin:auto 5px!important
}
.redondeado{border-radius: 6px;}
@media only screen and (max-width:600px){
	.icored{
		width:16px; padding-top: 10px;
	}
}
@media only screen and (max-width: 800px) {
	.ocultar-menu {
		display: none;
	}
}


	


@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-regular.woff2') format('woff2'),
		 url('fuentes/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-semibold.woff2') format('woff2'),
		 url('fuentes/montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bold.woff2') format('woff2'),
		 url('fuentes/montserrat-bold.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bolditalic.woff2') format('woff2'),
		 url('fuentes/montserrat-bolditalic.woff') format('woff');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-light.woff2') format('woff2'),
		 url('fuentes/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-lightitalic.woff2') format('woff2'),
		 url('fuentes/montserrat-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-extralight.woff2') format('woff2'),
		 url('fuentes/montserrat-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-extralightitalic.woff2') format('woff2'),
		 url('fuentes/montserrat-extralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}