* {
    margin: 0;
    padding: 0;
}


.contenido {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: none;
}

nav div:hover + a ul{
    display: block;
}